/* style set font  */
.azeret-mono-font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* universal selector */
*{
    margin:0;
    padding:0;
}
/* style header  */
.first-page-section-container{
    max-width: 1440px;
    max-height: 652px;
    background-image: url('../assets/Hero-bg.png'); 
    
}
.fist-page-container{
    width: 998px;
    height: 581px;
    margin : 26px 45px 0px 221px;
    /* margin-top: 26px;
    margin-left: 221px;
    margin-right: 221px;
    margin-bottom: 45px ; */

}
.fist-page-image-container{
    display: flex;
    justify-content: center;
}
.fist-page-image-container img{
    height: 240px;
    width: 240.28px;
}
.fist-page-title{
    margin-top: 32px;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}
.first-page-text{
    color: rgba(13, 19, 33, 1);
    text-align: center;
    margin : 24px 73px 0px 73px;
}
.first-page-btn-container{
   display: flex;
   justify-content: center;
   margin-top: 32px;
}
/* style for the button  */
.btn-primary{
    border: none;
    width: 244px;
    height: 65px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(13, 19, 33, 1);
    font-weight: 600;
    font-size: medium;  
}
/* style second page  */
.second-page-section{
    max-width: 1440px; 
}
.second-page-section-container{
    width: 1140px;
    height: 1395px;
    margin:80px 148px 0px 152px;
    background-color: #fafafb;
}
.second-page-container{
    margin: 80px 97px;
    width: 946px;
    height: 1235px;
}
.why-web-dev-container{
    width: 852px;
    height: 115px;
    margin: 0px 47px;
}
.why-web-dev-title{
    width: 852px;
    height: 39px;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    color:rgba(13, 19, 33, 1);
}
.why-web-dev-text{
    width: 852px;
    height: 52px;
    margin-top: 24px;
    color: rgba(13, 19, 33, 1);
    text-align: center;
}
/* style second page parts */
.i-will-do-coding-contianer{
    height: 336px;
    width: 946px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    border-radius: 16px;
    background-color: #ffff;
}
.i-will-do-coding-inen-text-div{
    /* padding: 48px ; */
    width: 477px;
    height: 229px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.i-will-do-coding-iner-title{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: x-large;
    font-weight: bold;
    text-align: justify;
}
.i-will-do-coding-iner-text{
    width : 468px;
    height: 52px;
    color :rgba(13, 19, 33, 1);
    margin-top: 16px;
}

.i-will-do-coding-inen-image-div{
    width: 274.17px;
    height: 240px;
}
 /* share style learn more btn  */
 .learn-more-btn a{
    color: rgba(13, 19, 33, 1);
    text-decoration: none;
 }
 .learn-more-btn{
    height: 47px;
    width: 171px;
    border: 2px solid rgba(13, 19, 33, 1);
    background-color: #ffff;
    font-weight: 600;
 }
 .first-div-for-learn-btn{
    margin-top: 32px;
 }
/* style mordern web section part */
.mordern-web-system-contianer{
    height: 336px;
    width: 946px;
    margin-top: 32px;
    border-radius: 16px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    gap: 32px;
}
.mordern-web-system-inen-image-div{
    width: 240px ;
    height: 240px;
    margin-left: 48px;
}
.mordern-web-system-inen-text-div{
    width: 477px;
    height: 229px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.mordern-web-system-iner-title{
    width: 477px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: x-large;
    font-weight: bold;
    text-align: justify;
}
.mordern-web-system-iner-text{
    width : 468px;
    height: 52px;
    color :rgba(13, 19, 33, 1);
    margin-top: 16px;
}
.second-div-for-learn-btn{
    margin-top: 32px;
}
/* style second-page-last-section  */
.i-will-do-coding-last-inen-image-div{
    width: 240px;
    height: 240px;
}
/* style third page  */
.third-page-section{
    max-width: 1440px;
}
.third-page-section-container{
    width: 1140px;
    height: 775px;
    margin-top: 90px;
    margin-left: 148px;
    margin-right: 152px;
}
.my-inspiration-container{
    width: 852px;
    height: 113px;
    margin: 0px 144px;
}
.my-inspiration-title{
    color:rgba(13, 19, 33, 1);
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.my-inspiration-text{
    margin-top: 24px;
    color: rgba(13, 19, 33, 1);
    text-align: center;
}
/* style third page video  */
.third-page-video-container{
    width: 1140px;
    height: 614px;
    margin-top: 48px;
    border-radius: 16px;
}
.third-page-video-container iframe{
    margin: 32px;
    border-radius: 16px;
}
/* style fourth page  */
.fourth-page-section{
    max-width: 1440px;
}
.fouth-page-section-container{
    width: 1140px;
    height: 460px;
    margin: 0px 150px;
}
.my-current-taget-container{
    width: 946px;
    height: 113px;
    margin : 0px 97px;
}
.my-current-target-title{
    color : rgba(13, 19, 33, 1.00);
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}
.my-current-target-text{
    width: 852px;
    height: 52px;
    margin:24px 47px;
    color: rgba(13, 19, 33, 1);
}
.html-css-js-combining-container{
    margin-top: 48px;
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-between;
}
.html-container{
     width: 364px;
     height: 299px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px ;

}
.html-contant-box{
    width: 284px;
    height: 219px;
    margin: 40px;
}
.css-container{
    width: 364px;
    height: 299px;
   background-color: rgba(0, 76, 232, 0.05);
   border-radius: 16px ;
}
.css-contant-box{
    width: 284px;
    height: 219px;
    margin: 40px;
}
.js-container{
    width: 364px;
    height: 299px;
   background-color: rgba(255, 223, 0, 0.05);
   border-radius: 16px ;
}
.js-contant-box{
    width: 284px;
    height: 219px;
    margin: 40px;
}
.html-image img , .css-image img , .js-image img {
    height: 56px;
    width: 56px;
}
.html-title , .css-title ,.js-title{
    margin-top: 24px;
    font-size: large;
    font-weight: bolder;
    color: rgba(13, 19, 33, 1);
}
.html-text , .css-text ,.js-text{
    margin-top: 24px;
    font-size: small;
    color: rgba(13, 19, 33, 1.00);
    text-align: justify;
}
.ancor-learn-more , .ancor-learn-more a{ 
    margin-top: 24px ;
    color: black;
}
/* style support section  */
.support-section{
    max-width: 1440px;
    border: 2px solid violet;

}
.support-section-container{
    border: 2px solid black;
    width: 1140px;
    height: 313px;
    margin: 41px 150px;
    border-radius: 16px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}