/* style set font  */
.azeret-mono-font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* universal selector */
*{
    margin:0;
    padding:0;
}
/* style header  */
.first-page-section-container{
    max-width: 1440px;
    max-height: 652px;
    background-image: url('../assets/Hero-bg.png'); 
    
}
.fist-page-container{
    width: 998px;
    height: 581px;
    margin : 26px 45px 0px 221px;
    /* margin-top: 26px;
    margin-left: 221px;
    margin-right: 221px;
    margin-bottom: 45px ; */

}
.fist-page-image-container{
    display: flex;
    justify-content: center;
}
.fist-page-image-container img{
    height: 240px;
    width: 240.28px;
}
.fist-page-title{
    margin-top: 32px;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}
.first-page-text{
    color: rgba(13, 19, 33, 1);
    text-align: center;
    margin : 24px 73px 0px 73px;
}
.first-page-btn-container{
   display: flex;
   justify-content: center;
   margin-top: 32px;
}
/* style for the button  */
.btn-primary{
    border: none;
    width: 244px;
    height: 65px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(13, 19, 33, 1);
    font-weight: 600;
    font-size: medium;  
}
/* style second page  */
.second-page-section{
    border: 2px solid violet;
    max-width: 1440px; 
}
.second-page-section-container{
    width: 1140px;
    height: 1395px;
    border: 2px solid rebeccapurple;
    margin:80px 148px 0px 152px;
}
.second-page-container{
    border: 2px solid blue;
    margin: 80px 97px;
    width: 946px;
    height: 1235px;
}
.why-web-dev-container{
    border: 2px solid violet;
    width: 852px;
    height: 115px;
    margin: 0px 47px;
}
.why-web-dev-title{
    border: 2px solid black;
    width: 852px;
    height: 39px;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    color:rgba(13, 19, 33, 1);
}
.why-web-dev-text{
    width: 852px;
    height: 52px;
    margin-top: 24px;
    border: 2px solid palegreen;
    color: rgba(13, 19, 33, 1);
    text-align: center;
}